<div class="container bg-white login-form-box">
  <h2>Edit Profile: <%= @user.first_name %> <%= @user.last_name %></h2>
    <%= simple_form_for @user do |f| %>

<div class="answer-boxes">
      <i class="form-box"><%= f.input :first_name %></i>
      <%= f.input :last_name %>
</div>
<div class="answer-boxes">
     <i class="form-box"><%= f.input :username %></i>
      <%= f.input :email %>
</div>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <div>
      <%= f.button :submit, class: "btn btn-primary bg-warning bg-gradient border-0"%>
      </div>
    <% end %>
</div>
