<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0">
  <div class="container-fluid">
    <%= link_to breweries_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dq0xq762v/image/upload/v1669117639/Browery_lrnob2.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Index", breweries_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "List my brewery", "#", class: "dropdown-item" %>
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <p class="login m-0"><i class="fa-regular fa-user nav-link user-icon"></i>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %></p>
          </li>
        <% end %>
      </ul>
  </div>
    </div>
  </div>
</div>
