<div class="container">
  <div class="d-flex m-2">
    <div class="col-4 py-2 my-2">
      <div class="text-align:center profile-container">
        <% if current_user.photo.attached? %>
                <center> <%= cl_image_tag current_user.photo.key, class: "profile-photo"%> </center>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/dq0xq762v/image/upload/v1669285430/profile-silhouette_osx7tn.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
        <h1 class="my-3"> <center> <%= current_user.first_name %> <%= current_user.last_name %> </center> </h1>
        <p class="my-3 pb-2"> <center> <strong> Username: </strong> <%= current_user.username %> </center> </p>
        <p class="my-3 pb-2"> <center> <strong> Address: </strong> <%= current_user.address %> </center> </p>
        <p class="mb-3 pb-3">  <center> <strong> Email: </strong> <%= current_user.email %> </center> </p>
      </div>
    </div>

    <div class="col-7 p-3 my-2">
      <h1> Your Bookings </h1>
      <% @bookings.each do |booking| %>
        <div class="card-product my-3">
          <img <%=cl_image_tag @brewery.find_by(id: booking.brewery_id).photos[0].key, class: "profile-photo"%>
          <div class="card-product-infos">
            <h2 class="my-2 pb-2"> <strong> Brewery: </strong> <%= @brewery.find_by(id: booking.brewery_id).name %> </h2>
            <p class="my-2 pb-2"> <strong> Starting Date </strong> <%= booking.start_date %> - <strong> Departure Date </strong> <%= booking.end_date %> </p>
            <% if booking.rating %>
              <p> Rating: <i class="fa-solid fa-star"></i> <%= booking.rating %>
            <% else %>
              <%= form_with(url: rate_booking_path(booking), method: "patch") do |f| %>
                <div class="btn-group">
                  <%= f.label "Rating: " %>
                  <%= f.select :rating, [1, 2, 3, 4, 5], :class => "btn btn-warning" %>
                </div>
                <%= f.submit(class: "btn btn-primary") %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <p> <%= link_to "Edit profile", edit_user_path(current_user), class: "text-decoration-none" %> </p>
</div>
