<div class="container bg-white">
  <h1>Edit Brewery: <%= @brewery.name %></h1>
    <%= simple_form_for @brewery do |f| %>
      <%= f.input :name %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :size %>
      <%= f.input :capacity %>
      <%= f.input :rating %>
      <%= f.button :submit, class: "btn btn-primary"%>
    <% end %>
</div>
