<div class="banner" id="home-banner" style="background-image: url(https://img.freepik.com/premium-photo/pouring-beer-with-bubble-froth-glass-background-design_158502-191.jpg?w=1480);">
  <div class="container">
    <h2 class="text-center text-white">Find the best breweries in your area</h2>
    <div class="search-bar">
      <%= form_with url: breweries_path, method: :get, class: "d-flex" do %>
      <div class="search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a Brewery"
          %>
          <button class="btn btn-flat text-white">
            <i class="fa-solid fa-beer-mug-empty"></i>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container mb-5">
  <h2 class="head-text">Popular</h2>
    <div class="cards">
      <% @ranked_breweries.first(4).each do |brewery| %>
        <%= link_to brewery_path(brewery), class: "text-decoration-none" do %>
          <div class="card-brewery">
            <div class="card-img">
              <%= cl_image_tag brewery.photos[0].key %>
            </div>

            <div class="card-text">
              <h2><%=brewery.name %></h2>
              <p><strong>size: </strong><%=brewery.size%></p>
              <p><strong>capacity: </strong><%=brewery.capacity%></p>
              <p><%=brewery.price%> <i class="fa-solid fa-euro-sign"></i></p>
              <% if brewery.rating %>
              <p class="card-rating"><%=brewery.rating.round(1) %><i class="fa-solid fa-star"></i></p>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
</div>


<div class="container mb-5">
  <h2 class="head-text">Cheapest price</h2>
    <div class="cards">
      <% @cheapest_breweries.first(4).each do |brewery| %>
        <%= link_to brewery_path(brewery), class: "text-decoration-none" do %>
          <div class="card-brewery">
            <div class="card-img">
              <%= cl_image_tag brewery.photos[0].key %>
            </div>

            <div class="card-text">
              <h2><%=brewery.name %></h2>
              <p><strong>size: </strong><%=brewery.size%></p>
              <p><strong>capacity: </strong><%=brewery.capacity%></p>
              <p><%=brewery.price%> <i class="fa-solid fa-euro-sign"></i></p>
              <% if brewery.rating %>
                <p class="card-rating"><%=brewery.rating.round(1) %><i class="fa-solid fa-star"></i></p>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
</div>

<div class="container mb-5">
  <h2 class="head-text">Newest breweries</h2>
    <div class="cards">
      <% @breweries.last(4).each do |brewery| %>
        <%= link_to brewery_path(brewery), class: "text-decoration-none" do %>
          <div class="card-brewery">
            <div class="card-img">
              <%= cl_image_tag brewery.photos[0].key %>
            </div>

            <div class="card-text">
              <h2><%=brewery.name %></h2>
              <p><strong>size: </strong><%=brewery.size%></p>
              <p><strong>capacity: </strong><%=brewery.capacity%></p>
              <p><%=brewery.price%> <i class="fa-solid fa-euro-sign"></i></p>
              <% if brewery.rating %>
              <p class="card-rating"><%=brewery.rating.round(1) %><i class="fa-solid fa-star"></i></p>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
</div>

<div class="container mb-5">
  <h2 class="head-text">Close to you</h2>
    <div class="cards">
      <% @breweries.last(4).each do |brewery| %>
        <%= link_to brewery_path(brewery), class: "text-decoration-none" do %>
          <div class="card-brewery">
            <div class="card-img">
              <%= cl_image_tag brewery.photos[0].key %>
            </div>

            <div class="card-text">
              <h2><%=brewery.name %></h2>
              <p><strong>size: </strong><%=brewery.size%></p>
              <p><strong>capacity: </strong><%=brewery.capacity%></p>
              <p><%=brewery.price%> <i class="fa-solid fa-euro-sign"></i></p>
              <% if brewery.rating %>
              <p class="card-rating"><%=brewery.rating %><i class="fa-solid fa-star"></i></p>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
</div>

<div class="container mb-5">
  <h2 class="head-text">Available right now..</h2>
    <div class="cards">
      <% @breweries.last(4).each do |brewery| %>
        <%= link_to brewery_path(brewery), class: "text-decoration-none" do %>
          <div class="card-brewery">
            <div class="card-img">
              <%= cl_image_tag brewery.photos[0].key %>
            </div>

            <div class="card-text">
              <h2><%=brewery.name %></h2>
              <p><strong>size: </strong><%=brewery.size%></p>
              <p><strong>capacity: </strong><%=brewery.capacity%></p>
              <p><%=brewery.price%> <i class="fa-solid fa-euro-sign"></i></p>
              <% if brewery.rating %>
              <p class="card-rating"><%=brewery.rating %><i class="fa-solid fa-star"></i></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
