
<div class="container py-1">
  <div class="row justify-content-center" >
    <div class="col-10">
      <h1> <%= @brewery.name  %> </h1>
      <p> <i class="fa-solid fa-star"></i> <%= @brewery.rating %> - <strong>Address: </strong> <i class="fa-solid fa-location-dot"></i> <%= @brewery.address %>
        <% if policy(@brewery).edit? %>
          <%= link_to "Edit this restaurant", edit_brewery_path(@brewery) %>
        <% end %>
       </p>
      <div id="carouselExampleIndicators" class="carousel slide brower-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @brewery.photos.each do |photo| %>
            <div class="carousel-item active">
              <%= cl_image_tag(photo.key) %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row justify-content-center" >
      <div class="col-6">
        <p> <i class="fa-sharp fa-solid fa-maximize"></i> <%= @brewery.size %> Square meters <i class="fa-solid fa-beer-mug-empty"></i> <%= @brewery.capacity %> Barrels of annual production </p>
        <h4>Description</h4>
        <p> <%= @brewery.description %></p>
        <div class="py-3 border-top">
          <h3> What the space offers </h3>
          <p> <i class="fa-solid fa-truck-fast"></i>
            <% if @brewery.delivery?  %>
              Delivery
            <% else %>
              <s> Delivery </s>
            <% end  %>
          </p>
          <p> <i class="fa-solid fa-wine-bottle"></i>
            <% if @brewery.bottling?  %>
              Bottling
            <% else %>
              <s> Bottling </s>
            <% end %>
          </p>
          <p> <i class="fa-solid fa-tags"></i>
            <% if @brewery.bottling?  %> Bottle labeling
            <% else %>
            <s> Bottle labeling </s>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-4 py-4 my-2">
        <div class="border rounded p-4">
          <h4> Book this Brewery! </h4>
          <div class="d-flex justify-content-between" >
            <p> € <%= @brewery.price %> a day</p>
            <p> <i class="fa-solid fa-star"></i> <%= @brewery.rating %> </p>
          </div>
          <form action="#">
            <div class="mb-3">
              <label for="" class="form-label"> Arrival Date </label>
              <input type="text" class="form-control" placeholder="Arrival date">
            </div>
            <div class="mb-3">
              <label for="" class="form-label"> Departure Date </label>
              <input type="text" class="form-control" placeholder="Departure date">
            </div>
            <div class="mb-3">
              <label for="" class="form-label"> Message </label>
              <input type="text" class="form-control" placeholder="Write your message here">
            </div>
            <input type="submit" class="btn btn-primary rounded w-100" placeholder="Book">
          </form>
        </div>
    </div>
  </div>
</div>



<%# <%= button_to "Destroy this restaurant", @restaurant, method: :delete if policy(@restaurant).destroy? %>
